.about {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 4rem;
  width: 100%;
  overflow-y: auto;
}

.topDecorationContainer {
  width: 100%;
}

.topDecoBox {
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color);
  margin-right: 1rem;
}

.firstHeaderContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.decorationContainer {
  width: 100px;
  height: 30px;
  transform: skewX(-10deg);
}

.decoBox {
  position: fixed;
  border: solid 1px var(--accent-color);
}

.decoBox1 {
  composes: decoBox;
  width: 20px;
  height: 20px;
}

.decoBox2 {
  composes: decoBox;
  width: 15px;
  height: 15px;
  transform: translate(15px, 10px);
}

.decoBox3 {
  composes: decoBox;
  width: 15px;
  height: 15px;
  transform: translate(25px, 3px);
}

.decoBox4 {
  composes: decoBox;
  width: 10px;
  height: 10px;
  transform: translate(37px, 10px);
}

.decoBox5 {
  composes: decoBox;
  width: 5px;
  height: 5px;
  transform: translate(45px, 7px);
}

.decoBox6 {
  composes: decoBox;
  width: 3px;
  height: 3px;
  transform: translate(52px, 11px);
}

.decoBox7 {
  composes: decoBox;
  width: 1px;
  height: 1px;
  transform: translate(57px, 8px);
}

.section {
  max-width: 50rem;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Source Code Pro', monospace;
  color: white;
  padding-left: 0.2rem;
}

.section h2 {
  font-size: 2.5rem;
  font-style: italic;
  color: var(--accent-color);
  font-family: 'Rubik Mono One', monospace;
}