.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	min-width: 25rem;
	max-width: 25rem;
	border-right: solid 0.25rem var(--accent-color);
}

.marquee {
	transform: scaleX(2) rotate(45deg) !important;
	font-size: 2rem;
	min-height: 3.5rem;
	overflow: hidden;
	-webkit-text-stroke: var(--accent-color) 0.1rem;
	color: transparent;
}

.marqueeFilled {
	composes: marquee;
	-webkit-text-stroke: 0;
	color: var(--accent-color);
}

.content {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	gap: 4rem;
}

.topDecorationContainer {
	width: 100%;
}

.topDecoBox {
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-color);
	margin-right: 1rem;
}

.section {

}

.firstHeaderContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.decorationContainer {
	width: 100px;
	height: 30px;
	transform: skewX(-10deg);
}

.decoBox {
	position: fixed;
	border: solid 1px var(--accent-color);
}

.decoBox1 {
	composes: decoBox;
	width: 20px;
	height: 20px;
}

.decoBox2 {
	composes: decoBox;
	width: 15px;
	height: 15px;
	transform: translate(15px, 10px);
}

.decoBox3 {
	composes: decoBox;
	width: 15px;
	height: 15px;
	transform: translate(25px, 3px);
}

.decoBox4 {
	composes: decoBox;
	width: 10px;
	height: 10px;
	transform: translate(37px, 10px);
}

.decoBox5 {
	composes: decoBox;
	width: 5px;
	height: 5px;
	transform: translate(45px, 7px);
}

.decoBox6 {
	composes: decoBox;
	width: 3px;
	height: 3px;
	transform: translate(52px, 11px);
}

.decoBox7 {
	composes: decoBox;
	width: 1px;
	height: 1px;
	transform: translate(57px, 8px);
}

.section h2 {
	font-size: 2.5rem;
	font-style: italic;
}

.section p {
	padding-left: 0.25rem;
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
	color: white;
}