.container {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

.contentLeft {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	padding: 0 1rem;
	width: max-content;
	background-color: var(--accent-color);
	color: black;
	font-size: 1.5rem;
}

.description {
	font-family: 'Source Code Pro', monospace;
	color: white;
	width: 30rem;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1rem;
}

.contentRight {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	overflow-x: hidden
}

.contentRight img{
	height: 15rem;
}

