.main {
	display: flex;
	height: 100vh;
	overflow: hidden;
	background-color: black;
	perspective: 2000px;
}

.titleTextContainer {
	font-size: 6rem;
	align-self: center;
	border-left: solid 5rem var(--accent-color);
	animation-name: titleTextGlitch;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: rotate(5deg)
}

.mainTitleText {
	color: var(--accent-color);
}

.subTitleText {
	-webkit-text-stroke: var(--accent-color) 0.1rem;
	color: #00000000
}

.scrollingTextContainer {
	position: absolute;
	color: var(--accent-color);
	width: 100vh;
	transform: translateX(-46.45%) rotate(-85deg) scaleX(1.5); /* translate x is close enough lol */
}

.webGLContainer {
	height: 50%;
}

.textContentContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	padding-left: 5rem;
	transform: rotate(5deg);
}

.subHeader {
	display: flex;
}

.subHeader>h2 {
	background-color: var(--accent-color);
	padding: 0 1rem;
	color: black;
	flex-grow: 1;
	font-size: 1.75rem;
}

.subHeaderDecoration {
	display: flex;
	background-color: var(--accent-color);
	gap: 1rem;
	padding-right: 1rem;
}

.subHeaderDecorationPiece {
	width: 1rem;
	height: 100%;
	background-color: black;
	transform: rotate(10deg) scaleY(1.1);
}

.descriptionAndNav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 65rem;
	padding: 0 1rem;
	font-size: 1.25rem;
}

.navList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.listLink {
	width: 100%;
	padding: 0.5rem 0;
	display: flex;
	gap: 1rem;
	font-size: 2.5rem;
}

.navItem:hover {
	color: black;
	background-color: var(--accent-color);
	cursor: pointer;
	gap: 1.4rem;
}

.listLink:hover>.navItemArrow {
	animation-name: textSpin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.listLink:hover>.navItemText {
	text-decoration: underline;
	text-decoration-thickness: 0.25rem;
}

.cornerDecoration {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	position: absolute;
	top: -9rem;
	right: -9rem;
}

.cornerDecorationLine {
	display: flex;
	gap: 1rem;
	animation-name: cornerLoop1;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.cornerDecorationLineRev {
	composes: cornerDecorationLine;
	animation-direction: reverse;
}

.cornerDecoRect {
	border: solid 0.1rem var(--accent-color);
	border-radius: 1000px;
	width: 8rem;
	height: 1rem;
}

.cornerDecoCircle {
	border: solid 0.1rem var(--accent-color);
	border-radius: 1000px;
	width: 1rem;
	height: 1rem;
}

.cornerDecoration2 {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	width: 50vh;
	height: 50vh;
	z-index: -10;
}

.leftDecoration {
	position: absolute;
	top: -10%;
	left: -1rem;
	width: 1rem;
	height: 100vh;
	transform: rotate(5deg);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	animation-name: leftAnimation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.leftDecoBox {
	width: 3rem;
	height: 3rem;
	background-color: black;
	transform: rotate(45deg);
}

.bottomDecoration {
	position: absolute;
	bottom: 0;
	left: -10rem;
	width: 110vw;
	display: flex;
	gap: 5%;
	animation-name: bottomAnimation;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.bottomDecoBox {
	width: 5%;
	height: 1rem;
	background-color: var(--accent-color);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

/* Mobile */
@media (max-width: 700px) {

}

/* Smaller desktops */
@media (max-width: 1650px) {
	.titleTextContainer {
		font-size: 4rem;
		animation-name: titleTextGlitchSmall;
	}
}

@keyframes textSpin {
	0% {
		transform: rotate3d(1, 0, 0, 0deg);
	}

	100% {
		transform: rotate3d(1, 0, 0, 360deg);
	}
}

@keyframes cornerLoop1 {
	0% {
		transform: translate(0px, 0px) rotate(45deg)
	}
	100% {
		transform: translate(7.8rem, 7.8rem) rotate(45deg)
	}
}

@keyframes titleTextGlitch {
	0% {
		line-height: 10rem;
	}
	20% {
		line-height: 10rem;
	}
	20.01% {
		line-height: 6rem;
	}
	20.5% {
		line-height: 6rem;
	}
	20.51% {
		line-height: 10rem;
	}
	21.0% {
		line-height: 10rem;
	}
	21.01% {
		line-height: 6rem;
	}
	21.5% {
		line-height: 6rem;
	}
	21.51% {
		line-height: 10rem;
	}
	22% {
		line-height: 10rem;
	}
	22.01% {
		line-height: 6rem;
	}
	50% {
		line-height: 6rem;
	}
	50.01% {
		line-height: 16rem;
	}
	50.5% {
		line-height: 16rem;
	}
	50.51% {
		line-height: 10rem;
	}
	100% {
		line-height: 10rem;
	}
}

@keyframes titleTextGlitchSmall {
	0% {
		line-height: 7rem;
	}
	20% {
		line-height: 7rem;
	}
	20.01% {
		line-height: 4rem;
	}
	20.5% {
		line-height: 4rem;
	}
	20.51% {
		line-height: 7rem;
	}
	21.0% {
		line-height: 7rem;
	}
	21.01% {
		line-height: 4rem;
	}
	21.5% {
		line-height: 4rem;
	}
	21.51% {
		line-height: 7rem;
	}
	22% {
		line-height: 7rem;
	}
	22.01% {
		line-height: 4rem;
	}
	50% {
		line-height: 4rem;
	}
	50.01% {
		line-height: 12rem;
	}
	50.5% {
		line-height: 12rem;
	}
	50.51% {
		line-height: 7rem;
	}
	100% {
		line-height: 7rem;
	}
}

@keyframes bottomAnimation {
	0% {
		transform: translateX(0)
	}

	100% {
		transform: translateX(10%)
	}
}

@keyframes leftAnimation {
	0% {
		transform: rotate(5deg) translateY(0) 
	}

	100% {
		transform: rotate(5deg) translateY(6rem)
	}
}