.container {
	--border-offset: -3px;
	--corner-grab-size: 1rem;
	position: absolute;
	top: var(--border-offset);
	left: var(--border-offset);
	width: calc(6px + 100%);
	height: calc(6px + 100%);
	pointer-events: none;
}

.corner {
	position: absolute;
	width: 1rem;
	height: 1rem;
	pointer-events: auto;
}

.topLeftCorner {
	composes: corner;
	top: 0;
	left: 0;
}

.topRightCorner {
	composes: corner;
	top: 0;
	right: 0;
}

.bottomRightCorner {
	composes: corner;
	bottom: 0;
	right: 0;
}

.bottomLeftCorner {
	composes: corner;
	bottom: 0;
	left: 0;
}

.bottomLeftCorner:hover, .topRightCorner:hover {
	cursor: nesw-resize;
}

.bottomRightCorner:hover, .topLeftCorner:hover {
	cursor: nwse-resize;
}

.hSide {
	position: absolute;
	width: calc(100% - 2rem);
	height: 0.5rem;
	left: 1rem;
	pointer-events: auto;
}

.hSide:hover {
	cursor: ns-resize;
}

.top {
	composes: hSide;
	top: 0;
}

.bottom {
	composes: hSide;
	bottom: 0;
}

.vSide {
	position: absolute;
	width: 0.5rem;
	height: calc(100% - 2rem);
	top: 1rem;
	pointer-events: auto;
}

.vSide:hover {
	cursor: ew-resize;
}

.left {
	composes: vSide;
	left: 0;
}

.right {
	composes: vSide;
	right: 0;
}