.container {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
}

.header {
	width: 100%;
	color: var(--accent-color);
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y:hidden;
}

.bkgMarquee {
	min-height: 0.75rem;
	overflow-y: hidden;
}

.headerText {
	position: absolute;
	top: 2rem;
	left: 3rem;
	font-size: 4rem;
	background-color: var(--accent-color);
	color: black;
	padding: 0 1rem;
	z-index: 1;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	padding: 5rem 3rem;
}