.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.infoContainer {
  z-index: 1000;
  margin-left: -10rem;
  margin-bottom: -25rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.info h2 {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  background-color: var(--accent-color);
  color: black;
}

.info p {
  padding-left: 0.5rem;
}

.homeContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.titleTextContainer {
  --titleSize: 3rem;
  font-size: 3rem;
  align-self: center;
  border-left: solid 2rem var(--accent-color);
  line-height: calc(var(--titleSize) * 1.66);
  animation-name: titleTextGlitch;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(5deg);
  user-select: none;
}

.titleTextContainer_enter {
  display: flex;
}

.titleTextContainer_exit {
  animation-name: textUnload;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
}

.subTitleTextTop {
  display: flex;
  flex-direction: column-reverse;
  -webkit-text-stroke: var(--accent-color) 0.1rem;
  color: transparent;
}

.mainTitleText {
  color: var(--accent-color);
}

.subTitleTextBottom {
  display: flex;
  flex-direction: column;
  -webkit-text-stroke: var(--accent-color) 0.1rem;
  color: transparent;
}

.subTitleTextTop h1, .subTitleTextBottom h1, .mainTitleText h1 {
  animation-name: textLoad;
  animation-duration: 0.1s;
  transform-origin: 0 50%;
  animation-timing-function: linear;
}

.icons {
  position: relative;
  width: 30rem;
  height: 20rem;
  margin-left: -15rem;
  margin-top: -10rem;
}

.icon1 {
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.icon2 {
  position: absolute;
  bottom: 9rem;
  right: 4rem;
}

.icon3 {
  position: absolute;
  bottom: 3rem;
  left: 9rem;
}

@keyframes titleTextGlitch {
  0% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  20% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  20.01% {
    line-height: var(--titleSize);
  }
  20.5% {
    line-height: var(--titleSize);
  }
  20.51% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  21.0% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  21.01% {
    line-height: var(--titleSize);
  }
  21.5% {
    line-height: var(--titleSize);
  }
  21.51% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  22% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  22.01% {
    line-height: var(--titleSize);
  }
  50% {
    line-height: var(--titleSize);
  }
  50.01% {
    line-height: calc(var(--titleSize) * 2.66);
  }
  50.5% {
    line-height: calc(var(--titleSize) * 2.66);
  }
  50.51% {
    line-height: calc(var(--titleSize) * 1.66);
  }
  100% {
    line-height: calc(var(--titleSize) * 1.66);
  }
}

@keyframes textLoad {
  0% {
    transform: scaleX(1.5) scaleY(0.5);
  }

  49.99% {
    transform: scaleX(1.5) scaleY(0.5);
  }

  50% {
    transform: scaleX(0.5) scaleY(1.5);
  }

  99.99% {
    transform: scaleX(0.5) scaleY(1.5);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes textUnload {
  0% {
    transform: scaleX(0.5) scaleY(1.5);
  }

  49.99% {
    transform: scaleX(0.5) scaleY(1.5);
  }

  50% {
    transform: scaleX(1.5) scaleY(0.5);
  }

  99.99% {
    transform: scaleX(1.5) scaleY(0.5);
  }

  100% {
    transform: scaleX(1.5) scaleY(0.5);
    visibility: hidden;
  }
}
