.roomContainer {
	width: 100vw;
	height: 100vh;
	display: grid;
	/*grid-template-columns: 300px auto 300px;
	grid-template-rows: 33.33% 33.33% 33.33%;*/
	perspective: 100px;
}

.topWall {
	position: absolute;
	width: 100%;
	height: 500px;
	transform-origin: 50% 0%;
	transform: rotate3d(1, 0, 0, -90deg);
	background-image: url(https://cdn.discordapp.com/attachments/840291689889529907/1150638836372750376/ygodds-youre_pathetic_yugi_now_shut_up_and_kiss_me.png);
	background-repeat: no-repeat;
  background-size: cover;
}

.leftWall {
	position: absolute;
	width: 500px;
	height: 100%;
	background-color: red;
	transform-origin: 0% 50%;
	transform: rotate3d(0, 1, 0, 90deg);
	background-image: url(https://cdn.discordapp.com/attachments/840291689889529907/1150638996293165117/pattern_155.gif);
}

.rightWall {
	position: absolute;
	right: 0;
	width: 500px;
	height: 100%;
	background-color: green;
	transform-origin: 100% 50%;
	transform: rotate3d(0, 1, 0, -90deg);
	background-image: url(https://cdn.discordapp.com/attachments/840291689889529907/1150638995882115092/pattern_58.gif);
}

.centerWall {
	background-color: cyan;
	width: 100vw;
	height: 100vh;
	transform: translateZ(-500px);
	background-image: url(https://cdn.discordapp.com/attachments/840291689889529907/1150638903536144474/pxl_star.gif)
}

.botWall {
	position: absolute;
	width: 100%;
	height: 500px;
	bottom: 0;
	transform-origin: 50% 100%;
	transform: rotate3d(1, 0, 0, 90deg);
	background-image: url(https://cdn.discordapp.com/attachments/840291689889529907/1150638836372750376/ygodds-youre_pathetic_yugi_now_shut_up_and_kiss_me.png);
}